<div id="proposal"></div>
<form id="lobby">
  <div id="players"></div>
  <br class="clear" />
  <button id="propose-game" class="btn btn-primary" type="submit" value="Start Game">Propose Game</button>
</form>

<pre id="lobby-chat"></pre>

<form id="chat" action="">
  <input id="message">
</form>

<script type="text/javascript" src="/javascripts/lobby.js"></script>
